<!DOCTYPE html>
<html ng-app="app">
  <head>
    <title>Calculate Bowling Game Scores</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet"> 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="CalculateBowlingGameScores.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.0.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="CalculateBowlingGameScores.js" type="text/javascript"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body ng-controller="ctrl">
    <nav class="navbar navbar-default navbar-static-top">  
      <div class="container">
        <div class="navbar-header">
          <div class="navbar-brand">
            <div class="title">Calculate Bowling Game Scores</div>
          </div>
        </div>        
      </div>
    </nav>
    <div>{{hi}}</div>
    <div id="notes" class="text-center">Enter Each Frame Score to be Calculated!</div>
    <div>
      <form role="form" class="text-center form-horizontal">
        <div class="form-group row">
          <label for="1" class="col-xs-4 control-label">Frame-1 Results:</label>
          <div class="col-xs-3">
            <input type="text" class="form-control" id="1" placeholder="number" ng-model='frame1.ball1' required>
          </div>
          <div class="col-xs-3">
            <input type="text" class="form-control" id="1" placeholder="number" ng-model='frame1.ball2'>
          </div>
        </div>
        <div class="form-group row">
          <label for="2" class="col-xs-4 control-label">Frame-2 Results:</label>
          <div class="col-xs-3">
            <input type="text" class="form-control" id="2" placeholder="number" ng-model='frame2.ball1' required>
          </div>
          <div class="col-xs-3">
            <input type="text" class="form-control" id="2" placeholder="number" ng-model='frame2.ball2'>
          </div>
        </div>
        <div class="form-group row">
          <label for="3" class="col-xs-4 control-label">Frame-3 Results:</label>
          <div class="col-xs-3">
            <input type="text" class="form-control" id="3" placeholder="number" ng-model='frame3.ball1' required>
          </div>
          <div class="col-xs-3">
            <input type="text" class="form-control" id="3" placeholder="number" ng-model='frame3.ball2'>
          </div>
        </div>
        <!--<div class="form-group row">
          <label for="4" class="col-xs-4 control-label">Frame-4 Results:</label>
          <div class="col-xs-3">
            <input type="text" class="form-control" id="4" placeholder="number" ng-model='frame4.ball1' required>
          </div>
          <div class="col-xs-3">
            <input type="text" class="form-control" id="4" placeholder="number" ng-model='frame4.ball2'>
          </div>
        </div>  
        <div class="form-group row">
          <label for="5" class="col-xs-4 control-label">Frame-5 Results:</label>
          <div class="col-xs-3">
            <input type="text" class="form-control" id="5" placeholder="number" ng-model='frame5.ball1' required>
          </div>
          <div class="col-xs-3">
            <input type="text" class="form-control" id="5" placeholder="number" ng-model='frame5.ball2'>
          </div>
        </div>
        <div class="form-group row">
          <label for="6" class="col-xs-4 control-label">Frame-6 Results:</label>
          <div class="col-xs-3">
            <input type="text" class="form-control" id="6" placeholder="number" ng-model='frame6.ball1' required>
          </div>
          <div class="col-xs-3">
            <input type="text" class="form-control" id="6" placeholder="number" ng-model='frame6.ball2'>
          </div>
        </div>
        <div class="form-group row">
          <label for="7" class="col-xs-4 control-label">Frame-7 Results:</label>
          <div class="col-xs-3">
            <input type="text" class="form-control" id="7" placeholder="number" ng-model='frame7.ball1' required>
          </div>
          <div class="col-xs-3">
            <input type="text" class="form-control" id="7" placeholder="number" ng-model='frame7.ball2'>
          </div>
        </div>
        <div class="form-group row">
          <label for="8" class="col-xs-4 control-label">Frame-8 Results:</label>
          <div class="col-xs-3">
            <input type="text" class="form-control" id="8" placeholder="number" ng-model='frame8.ball1' required>
          </div>
          <div class="col-xs-3">
            <input type="text" class="form-control" id="8" placeholder="number" ng-model='frame8.ball2'>
          </div>
        </div>
        <div class="form-group row">
          <label for="9" class="col-xs-4 control-label">Frame-9 Results:</label>
          <div class="col-xs-3">
            <input type="text" class="form-control" id="9" placeholder="number" ng-model='frame9.ball1' required>
          </div>
          <div class="col-xs-3">
            <input type="text" class="form-control" id="9" placeholder="number" ng-model='frame9.ball2'>
          </div>
        </div>
        <div class="form-group row">
          <label for="10" class="col-xs-4 control-label">Frame-10 Results:</label>
          <div class="col-xs-3">
            <input type="text" class="form-control" id="10" placeholder="number" ng-model='frame10.ball1' required>
          </div>
          <div class="col-xs-3">
            <input type="text" class="form-control" id="10" placeholder="number" ng-model='frame10.ball2'>
          </div>
        </div>-->
        <div class="form-group row">
          <div class="text-center">
            <input type="submit" value="Calculate Scores" class="btn btn-primary" ng-click="calculateScores(frame1, frame2, frame3)">
            <input type="submit" value="Clear Fields" class="btn btn-primary" ng-click="clearFields()">
          </div>
        </div>
      </form>
    </div>
  </body>  
</html>
